.editmeal {
    /* float: inherit; */
    background-color: #92c2e9;
    margin: 10px 10px 10px 700px;
    /* height: 5em; */
    /* width: 10em; */
    /* margin-top: 775px; */
    /* justify-content: center; */
    /* align-items: center; */
    /* padding: 10em; */
  }
  
  a {
      color: #FFFFFF;
      text-decoration: underline;
  }