:root {
  --primary-bright: #10e7dc;
  --primary: #6cdaee;
  --primary-muted: #b3e5fc;
  --secondary: #0074e1;
  --secondary-muted: #23a1eb;
  --accent: #f79e02;
  --dark: #2f2f2f;
}

.page {
  background-image: linear-gradient(-225deg, #fffeff 0%, #d7fffe 100%);
  /* #161 Salt Mountain - webgradients.com */
}
