.savemeal {
    /* float: inherit; */
    background-color: #df7ea3;
    margin: 10px 10px 10px 100px;
    /* height: 5em; */
    /* width: 10em; */
    /* margin-top: 775px; */
    /* justify-content: center; */
    /* align-items: center; */
  }

  a:link {
    color: #FFFFFF;
}

a:hover {
    color: #0d6efd;
}
